<div class="shopping-cart-item row">
    <div class="row">
        <div class="col-md-5 content-div">
            <div class="row">
                <div class="col-md-2 img-div ">
                    <img class="item-img" src="../../Capture.PNG" />
                </div>
                <div class="col-md-10 description-div">
                    <div class="name">{{$ctrl.itemWithAmount.item.itemName}}</div>
                    <div class="description">{{$ctrl.itemWithAmount.item.description}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 quantity-div">
            <div class="quantity">
                <span>{{$ctrl.itemWithAmount.item.quantity}}</span> 
                <span >{{$ctrl.itemWithAmount.item.unitQty}}</span>
            </div>
        </div>
        <div class="col-md-4 add-div">
            <div class="row">
                <div class="col-md-6">
                    <input type="number" class="col-md-2 amount" ng-model="$ctrl.itemWithAmount.amount" ng-change="$ctrl.updateAmount()" min="1" max="9" />
                </div>
                <div class="col-md-6">
                    <button class="col-md-1 btn-info add" ng-click="$ctrl.removeItemFromShoppingCart()">הסר</button>
                </div>
            </div>
        </div>

    </div>
    <div class="separatore row"></div>
</div>

